doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="theme-color", content="#111111")
    meta(name="description" content="View "+ data.lastUsername +"'s Profile on RetroMC using J-Stats!")
    meta(content="https://crafatar.com/avatars/"+ data.uuid+"?size=128&overlay" property="og:image")
    link(rel="canonical" href="https://j-stats.xyz/player/" + data.uuid)
    link(rel="icon" href="https://crafatar.com/avatars/"+ data.uuid+"?size=128&overlay")
    title J-Stats² | !{data.lastUsername}
    // links
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="../assets/style.css", rel="stylesheet")
  body
    include ../partials/header.pug

    div.container.mt-5
        h1#q_username #[span.banned !{data.lastUsername}] #[span#status.status-result]

        div.d-flex.justify-content-between
            div.item
                p#q_uuid !{data.uuid} #[span.fa.fa-clipboard.copybtn.text-primary(data-clipboard-text= data.uuid )]
            div.item
                span.coords x: #[strong#x], y: #[strong#y], z: #[strong#z]

        div.row
            div.col-lg-4
                div.card.bg-dark
                    div.card-header
                        strong Information
                    div.card-body
                        div.card-title
                            label.col-6.col-md-6 Rank
                            strong !{m.getRankColor(data.groups[0])}
                        div.card-title
                            label.col-6.col-md-6 Playtime
                            strong #{m.secondsToHour(data.playTime)} hours
                        div.card-title
                            label.col-6.col-md-6 Money
                            strong #{m.formatNumber(data.money)}
                        div.card-title
                            label.col-6.col-md-6 Level
                            strong #{m.formatNumber(data.trustLevel)}
                        div.card-title
                            label.col-6.col-md-6 Score
                            strong #{m.formatNumber(data.trustScore)}
                        div.card-title
                            label.col-6.col-md-6 Joined
                            strong #{m.unixToDate(data.firstJoin)}
                        div.card-title
                            label.col-6.col-md-6 Last Join
                            strong #{m.unixToDate(data.lastJoin)}

            
                br
                div.card.bg-dark.villages
                    div.card-header
                        strong Village Info
                    div.card-body
                        div.card-title.owns
                            label.col-6.col-6 Owns 
                            span#owned
                        div.card-title.mem
                            label.col-6.col-6 Member In 
                            span#member
                        div.card-title.asst
                            label.col-6.col-12 Assistant In 
                            span#assistant

            div.col-lg-4.justify-content-center
                center
                    img("id"="playerImg")
                    canvas("id"="skin_container")

            div.col-lg-4
                div.card.bg-dark
                    div.card-header
                        strong Actions
                    div.card-body
                        div.card-title
                            label.col-6.col-md-6 Player Kiils
                            strong #{data.playersKilled}
                        div.card-title
                            label.col-6.col-md-6 Mob Kiils
                            strong #{m.formatNumber(data.creaturesKilled)}
                        div.card-title
                            label.col-6.col-md-6 Deaths
                            strong #{data.playerDeaths}
                        div.card-title
                            label.col-6.col-md-6 Traveled
                            strong #{m.formatNumber(data.metersTraveled)}
                        div.card-title
                            label.col-6.col-md-6 Placed
                            strong #{m.formatNumber(data.blocksPlaced)}
                        div.card-title
                            label.col-6.col-md-6 Dropped
                            strong #{m.formatNumber(data.itemsDropped)}
                        div.card-title
                            label.col-6.col-md-6 Destroyed
                            strong #{m.formatNumber(data.blocksDestroyed)}
                br
                div.card.bg-dark.bans
                    div.card-header
                        strong Ban Info
                    div.card-body
                        div.card-title.own
                            label.col-6.col-6 Total Bans
                            span#total-bans
                        div.card-title.ban-list
                            label.col-6.col-6 Bans
                            button(type="button",id="view",data-toggle="modal",data-target="#myModal",).btn.btn-sm.btn-primary View Bans

                div.modal#myModal
                    div.modal-dialog
                        div.modal-content.bg-dark
                            div.modal-header.bg-dark
                                h4.modal-title.bg-dark
                                button(type="button",data-dismiss="modal").close &times;
                            div.modal-body.bg-dark
                            div.modal-footer.bg-dark
                                button(type="button",data-dismiss="modal").btn.btn-danger close



    // scripts
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js")
    script(src="../assets/skinview3d.bundle.js")
    script(src="../assets/index.js")
    script loadPlayerModel()
    include ../partials/footer.pug
